#expense-menu-filter{
    display: flex;
    flex-direction: row;
    justify-content:center;
    color: blue;
    user-select: none;
}


/* --- CABEÇALHO DE LISTA DE DESPESAS --- */
#expense-head{
    display: flex;
    flex-direction: row;
    justify-content: center;
    user-select: none;
}
table {
    align-self: center;
    border-collapse: collapse;
    border-spacing: 0;
    width: 70vw;
    border: 1px solid #ddd;
}
th,
td {
    padding: 8px;
}
td{
    border-top: 1px solid lightgray;
}
tr:nth-child(even) {
    background-color:silver;
}
th{
    color:white;
    background-color: black;
    text-align: left;
}
th:first-child,
td:first-child {

    width: 1%;
    text-align: left;
}
th:nth-child(2),th:nth-child(3),
td:nth-child(2),td:nth-child(3){
    text-align: center;
    width: 10%;
}
th:nth-child(4),
td:nth-child(4){
    text-align: left;
}
th:nth-child(5),
td:nth-child(5){
    text-align: center;
    width: 10%;
}
th:last-child,
td:last-child {
    width: 15%;
   text-align: right;
}

/* --- LISTA DE DESPESAS --- */
#expense-head-id{
    width: 32px;
    font-family:'Lucida Sans Unicode';
    font-weight: bold;    
    text-align: center;
    color:white;
    border:1px solid white;
    background-color: black;
    user-select: none;
}
#expense-head-category{
    width: 160px;
    font-family:'Lucida Sans Unicode';
    font-weight: bold;
    text-align: center;
    color:white;
    padding-left: 10px;
    border:1px solid white;
    background-color:black;
    user-select: none;
}
#expense-list{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.expense-list-dados {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.expense-id{
    width: 32px;
    font-family:'Lucida Sans Unicode';
    text-align: center;
    border:1px solid lightgray;
}
.expense-date{
    width: 112px;
    font-family:'Lucida Sans Unicode';
    text-align: center;
    border:1px solid lightgray;
}
.expense-dateexpire{
    width: 124px;
    font-family:'Lucida Sans Unicode';
    text-align: center;
    border:1px solid lightgray;
}
.expense-user{
    width: 256px;
    font-family:'Lucida Sans Unicode';
    text-align: left;
    padding-left: 10px;
    border:1px solid lightgray;
}
.expense-category{
    width: 160px;
    font-family:'Lucida Sans Unicode';
    text-align: left;
    padding-left: 10px;
    border:1px solid lightgray;
}
.expense-value{
    width: 128px;
    font-family:'Lucida Sans Unicode';
    text-align: right;
    border:1px solid lightgray;
}




